
@import url('https://fonts.googleapis.com/css?family=Lato');


body {
    margin: 0;
    /* padding: 0 0 40px; */
    /* height: 100vh; */
    background-color: rgb(255, 105, 0);
    font-family: 'Lato', BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial, sans-serif;

    box-sizing: border-box;
    color: #555;
}

.fly-icon {
    background-image: url('../assets/pizza.svg');
    width: 60px;
    height: 60px;
    background-size: cover;

    transition: .3s all;
    position: absolute;
    top: 0;
}

.falling-animate {
    animation: falling 2s linear;
}

@keyframes falling {
    from {transform: translateY(0) rotate(0);}
    to {transform: translateY(115vh) rotate(360deg);}
}

.link-return {
    text-decoration: none;
    color: #fff;
    padding: 3px;
    border-bottom: 1px solid;
}

.preloader {
    background: #6A1B9A;
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 200;

    transition: .3s all;
}

.preloader.hide {
    opacity: 0;
    visibility: hidden;
}

.page > div {
    height: 100%;
}

* {box-sizing: inherit;}

#app {
    position: relative;
    height: 100%;
    overflow: hidden;
    min-height: 100vh;
}



.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 15px 30px;
    margin-bottom: 30px;
    color: #fff;
}

.header__btn {
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    outline: none;
}

.logo-text {
    font-size: 20px;
    cursor: pointer;
    font-weight: bold;
    display: inline-block;
}

.logo-text--return {
    border-bottom: 1px solid;
}

.login-form {
    padding-top: 150px;
}

.filters {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

.post-not-found {
    color: #fff;
    text-align: center;
    margin: 30px 0 60px;
    font-size: 20px;
}

.search-block {
    position: relative;
    max-width: 300px;
    width: 100%;
}
.search-cross {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    width: 13px;
    height: 13px;
    fill: #555;
    opacity: 0.5;
    cursor: pointer;
    transition: .3s all;
}

.search-cross:hover {
    opacity: 0.8;
}

.search {
    padding: 10px;
    width: 100%;
    font-size: 16px;
    border: none;
    border-radius: 3px;
    outline: none;
}

.sorting {

}

.sorting__title {
    color: #fff;
    margin-right: 20px;
}

.sorting__btn {
    padding: 10px 15px;
    background-color: transparent;
    border-radius: 3px;
    border: 1px solid #fff;
    color: #fff;
    margin: 0 5px;
    font-size: 15px;
    outline: none;
    cursor: pointer;
}

.sorting__btn.active {
    background-color: #fff;
    color: #555;
}

.share-vk {
    color: #fff;
    padding: 5px 9px;
    font-size: 13px;
    background-color: #4875aa;
    border-radius: 3px;
    cursor: pointer;
}

.author {
    /* margin-top: 40px; */
    width: 100%;
    padding: 25px;
    text-align: center;
    color: #fff;
    font-weight: 300;
    z-index: 100;
}

.author__text {
    opacity: 1;
    margin: 0;
}

.author a {
    color: #fff;
    text-decoration: none;
    border-bottom: 1px solid ;
    padding: 3px 0;
    cursor: pointer;
}


.app-content {
    padding-left: 15px;
    padding-right: 15px;
}

.swiper-slide {
    min-height: calc(100vh - 250px);
    display: flex;
    align-items: center;
    justify-content: center;
}


.post-list {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.post-list .post {
    background-color: #fff;
    border-radius: 6px;
    padding: 15px 25px;
    margin-bottom: 15px;
}

.post-list .post:nth-child(2n + 2) {
    margin-right: 0;
}

.post-list .post__title {
    font-size: 18px;
}
.post-list .post__author {
    font-size: 15px;
}

.post {
    text-align: center;
}

.post__title {
    font-size: 16px;
    line-height: 1.6;
}

.post__title span{
    display: block;
}

.post-slide .post__footer {
    margin-top: 80px;
    justify-content: center;
    flex-direction: row;
}

.post-slide .post__author {
    width: 100%;
}



.post__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    flex-direction: row-reverse;
}

.post__like-block {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    cursor: pointer;
}

.post__like-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    user-select: none;

    height: 20px;
    width: 20px;
    margin: 0 4px;
    fill: rgb(255, 105, 0);
    transition: .3s all;
}

.post__like-btn:hover {
    transform: translateY(-2px);
}

.post-slide .post__like-btn {
    height: 30px;
    width: 30px;
    fill: #fff;
}

.post-slide .post__rating {
    font-size: 30px;
    transform: translateY(-2px);
    margin-left: 5px;
}

.post-slide .post__like-icon {
    width: 30px;
    height: 30px;
}

.post__rating {
    user-select: none;
    font-size: 15px;
}

.post__like-icon {
    width: 15px;
    height: 15px;
}

.post-slide {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    color: #fff;
}



.post a {
    color: #555;
    border-bottom: 1px solid;
    text-decoration: none;
}


.post-slide a {
    color: #fff;
    border-bottom: 1px solid;
    padding: 3px;
    display: inline-block;
    text-decoration: none;
}


.post-slide .post__title {
    font-size: 50px;
    color: #fff;
    text-align: center;
    font-weight: 500;
}


.swiper-arrow-prev,
.swiper-arrow-next {
    width: 50px;
    height: 50px;
    fill: #fff;

    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    z-index: 20;
    opacity: 0.6;

    cursor: pointer;
    transition: .3s all;
}

.swiper-arrow-prev:hover,
.swiper-arrow-next:hover {
    opacity: 1;
}

.swiper-arrow-prev {
    left: 30px;
}

.swiper-arrow-next {
    right: 30px;
}

.swiper-button-disabled {
    opacity: 0.15;
    pointer-events: none;
}

.add-post {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 0 50px;
    text-align: center;
}

.add-post__content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.add-post__title {
    width: 100%;
    color: #fff;
    font-weight: 400;
    margin-bottom: 40px;
}
.add-post__form {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}
.add-post__input-block {
    margin-bottom: 30px;
}
.add-post__input-label {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    font-size: 13px;
}

.add-post__input-label span{
    font-size: 10px;
    display: block;
    text-align: center;
    opacity: 0.5;
    margin-left: 10px;
}

.add-post__tip {
    text-align: left;
    color: #fff;
    font-size: 13px;
    opacity: 0.6;
}

.add-post__input {
    width: 100%;
    display: block;
    padding: 15px;
    border-radius: 5px;
    border: none;
    background-color: #fff;
    font-size: 18px;
    outline: none;
    transition: .3s all;
}
.add-post__input:focus {
    box-shadow: 0 2px 7px rgba(0, 0, 0, .3);
}


.add-post__input::-webkit-input-placeholder {color: #ddd;}
.add-post__input::-moz-placeholder          {color: #ddd;}
.add-post__input:-ms-input-placeholder      {color: #ddd;}
.add-post__input:-moz-placeholder           {color: #ddd;}

.add-post__btn {
    padding: 15px 30px;
    border: none;
    background-color: #fff;
    font-size: 17px;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    margin-top: 20px;
    transition: .3s all;
    box-shadow: 0 4px 6px rgba(0, 0, 0, .2);
}

.add-post__btn:hover {
    transform: translateY(-5px);
}


.admin {
    padding: 30px;
    max-height: 100%;
    overflow-y: scroll;
}


.admin__row {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
}

.admin__col {
    width: 48%;
}

.admin__title {
    color: #fff;
}

.admin-post {
    background-color: #fff;
    width: 100%;
    padding: 13px;
    border-radius: 5px;
    margin-bottom: 15px;
}

.admin-post p{
    margin: 0 0 20px;
}

.admin__list {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
}

.btn {
    border: none;
    border-radius: 3px;
    padding: 7px 15px;
    cursor: pointer;
    outline: none;
}

.btn-error {
    background-color: rgb(109, 25, 25);
    color: #fff;
}
.btn-success {
    background-color: rgb(52, 121, 52);
    color: #fff;
}
.btn-warning {
    background-color: rgb(207, 148, 21);
    color: #fff;
}


@media only screen and (max-width: 600px) {
    .search-block {
        margin-top: 30px;
        width: 100%;
        max-width: 100%;
    }
    .sorting {
        width: 100%;
        text-align: center;
        margin-top: 20px;
    }
    .sorting__title {
        display: none;
    }
    .header {
        margin-bottom: 0;
    }
    .swiper-slide {
        min-height: calc(100vh - 300px);
    }
    .author {
        margin-top: 0;
    }
    .admin__col {
        width: 100%;
    }

    .swiper-arrow-prev,
    .swiper-arrow-next {
        width: 30px;
        height: 30px;

        top: 60%;
    }

    .swiper-slide {
    }

    .post-slide .post__footer {
        margin-top: 30px;
    }

    .post-slide .post__title {
        font-size: 40px;
    }
}

@media only screen and (max-width: 480px) {

    .add-post {
        padding: 0;
    }

    .post-slide .post__title {
        font-size: 1.9em;
    }

    .header__left,
    .header__right {
        width: 100%;
        text-align: center;
    }

}